@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body {
    background: radial-gradient(circle at bottom left, transparent 25%, #790eff 25.5%, #790eff 36%, transparent 37%, transparent 100%), radial-gradient(circle at top right, transparent 34%, #790eff 34.5%, #790eff 45.5%, transparent 46%, transparent 100%);
    background-size: 6em 6em;
    background-color: #2b127d;
    opacity: 1
}

td {
    width: 100px;
    height: 50px;
    font-size: 1.4rem;
    text-align: center;

}

th {
    font-weight: bold;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    /*    border: 5px dashed black;*/
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 0.2rem;
    font-family: 'Gabarito';
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: white;

}

.githubFork {
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gabarito';
    border-radius: 1rem;
    color: white;
    width: 25%;
    right: 2%;
    transition: 0.3s ease;
    background: radial-gradient(circle at top right, transparent 10%, #000000 10%, #000000 20%, transparent 21%), radial-gradient(circle at left bottom, transparent 10%, #000000 10%, #000000 20%, transparent 21%), radial-gradient(circle at top left, transparent 10%, #000000 10%, #000000 20%, transparent 21%), radial-gradient(circle at right bottom, transparent 10%, #000000 10%, #000000 20%, transparent 21%), radial-gradient(circle at center, #000000 30%, transparent 31%);
    background-size: 3em 3em;
    background-color: #131313;
}

.githubFork:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    text-align: center;
    margin: 20px;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 2rem white;
    font-weight: bold;
    font-family: 'Pixelify Sans';
}